<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="page-header">
          <h1>{{ $ctrl.post.title }} <small>{{ post.publishDate }}</small></h1>
        </div>
        <span data-ng-if="post.image">
            <img data-ng-src="{{ post.image }}" class="img-responsive" alt="" /><br />
        </span>
        <p>{{ post.description }}</p>
        <hr/>

        <h3>Comments</h3>
        <div class="row" data-ng-show="comments.length > 0">
            <div class="col-sm-6">
                <input type="text" class="form-control" data-ng-model="query" placeholder="Filter Comments" /><br />
            </div>
        </div>
        <ul data-ng-show="comments.length > 0">
            <li data-ng-repeat="comment in comments | filter: query">
                {{ comment.text }}
                <a href="#" class="btn btn-sm btn-default" confirm-click="Do you want to delete?" confirmed-click="deleteComment(comment)">X</a>
                <!--<a href="#" data-ng-click="deleteComment(comment)">Delete</a>-->
            </li>
        </ul>
        <hr/>

        <div class="row">
            <div class="col-sm-12">
                <p style="color: red;" data-ng-if="reply.text">Preview: {{ reply.text }}</p>
                <form data-ng-submit="addReply()">
                    <input type="hidden" data-ng-model="reply.id" />
                    <textarea class="form-control" data-ng-model="reply.text"></textarea>
                    <input class="btn btn-default" type="submit" />
                </form>
            </div>
        </div>
    </div>
</div>
